.article-content h1 {
    margin-bottom: 10px;
    font-family: 'Diablo', sans-serif;
    color: #D2C8AE;
    text-align: justify;
    text-transform: uppercase;
    text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
    font-size: 25px;
}

.article-content p {
    font-style: "Alegreya Sans", sans-serif;
    color: #D2C8AE;
    text-align: justify;
    margin-bottom: 20px;
    font-size: 20px;
    text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
}


.introduction-content {
    background-color: #292c2c;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.introduction-content .text-content {
    width: 51%;
    margin-right: 30px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.introduction-content iframe {
    width: 49%;
    height: 60vh;
    margin-right: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}


.classes-content {
    background-color: #1c2020;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}


.classes-content .text-content {
    width: 50%;
    margin-right: 30px;
    margin-left: 20px;
    margin: 20px;
}


.classes-content img {
    width: 50%;
    height: 55vh;
    margin-right: 30px;
    margin-left: 20px;
    margin: 20px;
}


.gameplay-content {
    background-image: url(../images/lilith-1.png);
    background-size: 100% 600px;
    width: 100%;
    text-align: center;
    display: 
    margin: 0 auto;
}

.gameplay-content h1 {
    margin-left: 20px;
}

.gameplay-content iframe {
    width: 48%;
    height: 500px;
    margin-right: 20px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-content {
    text-align: center;
    font-style: "Alegreya Sans", sans-serif;
    color: #D2C8AE;
    text-align: center;
    margin-bottom: 20px;
    font-size: 15px;
    text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
}

/*Carousel */

.article-header {
    position: relative;
    width: 100%;
    height: 95vh;
    overflow: hidden;
}

/* Bullets */
.carousel-bullets {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 10px; /*Espaçamento entre bullets*/
    z-index: 100;
}

.bullet {
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bullet.active {
    background-color: rgba(255, 255, 255, 1);
}

/*Mobile*/

@media screen and (max-width:768px) {

    .introduction-content {
        flex-wrap: wrap;
    }
    .introduction-content .text-content {
        width: 100%;
    }
    
    .introduction-content iframe {
        width: 100%;
        margin: 0 auto;
    }

    .classes-content {
        flex-wrap: wrap;
    }

    .classes-content .text-content {
        width: 100%;
    }

    .classes-content img {
        width: 100%;
        margin: 0 auto;
    }

    .gameplay-content iframe {
        width: 90%;
        margin: 0 auto;
    }

}